@using Models;
@model List<Chamada>
@{
    ViewData["Title"] = "Chamada";
}

@{
    Layout= "/Views/Professor/_Layout.cshtml";
}

@* @{var x = DateTime.Now.ToString("dd/MM/yyyy") ; }  *@



<div class="container">
    <form method="POST" >
        <table class="table table-bordered">
            @{
                if(Model.Count > 0){
                    <h2>Chamada referente ao dia: @Model.First().Data <b>  </b></h2>
                }
                else{
                    <h2>Não há aluno registrado</h2>
                }
            }
            <tr>
                <td><b>Aluno</b></td>
                <td><b>Presença 1</b></td>
                <td><b>Presença 2</b></td>
                <td><b>Presença 3</b></td>
                <td><b>Presença 4</b></td>
            </tr>
            @{
                if(Model.Count > 0){
                     foreach(var item in Model)
                    {
                        <tr>
                            <td name="Aluno">@item.Aluno</td>
                            <td name="Presenca1"><input type="checkbox" class="form-check-input" checked="@item.Presenca1" name="Presenca1"></td>
                            <td name="Presenca2"><input type="checkbox" class="form-check-input" checked="@item.Presenca2" name="Presenca2"></td>
                            <td name="Presenca3"><input type="checkbox" class="form-check-input" checked="@item.Presenca3" name="Presenca3"></td>
                            <td name="Presenca4"><input type="checkbox" class="form-check-input" checked="@item.Presenca4" name="Presenca4"></td>
                        </tr>

                    }
                }
               
            }

        </table>

        <button class="btn btn-primary" style="margin-top: 20px">Salvar</button>
    </form>
   
</div>




