@using Models;
@model TurmaProfessor2

@{
    ViewData["Title"] = "Cadastro de Turma Professor";
}

@{
    Layout= "/Views/Diretor/_Layout.cshtml";
}

<div class="container">

    <h1>Vinculo de Turma/Disciplina por Professor</h1>
    <form method="POST" class="form-group">
        
        <select class="form-select form-select" aria-label="Default select example" name="CdProfessor">
            @{
                foreach (var item in Model.Professores)
                {
                    <option value="@item.CdPessoa">@item.Nome</option>
                }
            }
        </select><br>

        <select class="form-select form-select" aria-label="Default select example" name="CdTurma">
            @{
                foreach (var item in Model.Turmas)
                {
                    <option value="@item.CdTurma">@item.NomeDaTurma</option>
                }
            }
        </select><br>

        <select class="form-select form-select" aria-label="Default select example" name="CdDisciplina">
            @{
                foreach (var item in Model.Disciplinas)
                {
                    <option value="@item.CdDisciplina">@item.NomeDisciplina</option>
                }
            }
        </select><br>

        <select class="form-select form-select" aria-label="Default select example" name="Ano">
            @{
                for (int i = 1980 ; i < 2101 ; i++)
                {
                    string year = i.ToString() + "0101";
                    DateTime Ano = DateTime.ParseExact(year,"yyyyMMdd", null);
                    <option value="@Ano">@i</option>
                }
            }
        </select><br>

         <button class="btn btn-primary" style="margin-top: 20px">Enviar</button>
    </form>

    <br>
    <br>
    <table class="table table-bordered">
        <tr>
            <td>Professor</td>
            <td>Turma</td>
            <td>Disciplina</td>
            <td>Ano</td>
            <td>Aulas</td>
            <td>Alunos</td>
            <td>Inativar</td>
        </tr>
         @{
            if(Model.TurmaProfessores.Count > 0){
                foreach(var item in Model.TurmaProfessores)
                {
                    string color = item.Ativo ?  string.Empty :"#cd380e";
                    string ativo = item.Ativo ?  "Inativar" :"Ativar";
                    string btnAtivo = item.Ativo ?  "btn btn-danger" : "btn btn-success";
                    string ativoAction = item.Ativo ? "/Diretor/InativarTP/" + item.CdTurmaProfessor.ToString() : "/Diretor/AtivarTP/" + item.CdTurmaProfessor.ToString();

                    <tr bgcolor="@color" >
                        <td>@item.NomeProfessor</td>
                        <td>@item.NomeDaTurma</td>
                        <td>@item.NomeDaDisciplina</td>
                        <td>@item.Ano.Year</td>
                        <td><a class="btn btn-primary" href="/Professor/Aulas/@item.CdTurmaProfessor">Aulas</a></td>
                        <td><a class="btn btn-primary" href="/Professor/Alunos/@item.CdTurmaProfessor">Alunos</a></td>
                        <td><a class="@btnAtivo" href="@ativoAction">@ativo</a></td>
                    </tr>

                }
            }
            
        }

    </table>

    <p>Ver Turmas Inativas</p>
    <a class="btn btn-danger" href="/Diretor/CadastroTurmaProfessor/false">Inativas</a>

</div>